{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Wi-Fi 数据查询</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>

{% block scripts %}
<!-- Dependencies -->
<script src="/static/scripts/node_modules/react/dist/react.js"></script>
<script src="/static/scripts/node_modules/react-dom/dist/react-dom.js"></script>

<!-- Main -->
<script src="/static/scripts/bundle.js"></script>
{% endblock %}

{% endblock %}
